@charset "UTF-8";
body {
  
    color: #171717;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 25px;
    background-image: url(bokeh.jpg);
    background-size: cover;
}
aside {
    width: 150px;
    height: 650px;
    float: left;
    background-color: green;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-right: 10px;
}
#container {
	width: 768px;
	height: auto;
	background-color: #ffffff;
	margin: auto;
}
header {
    width: 768px;
    height: 250px;
    background-color: #008000;
    background-image: url(header.jpg);
}
main {
    width: 745px;
    height: 1500px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
article {
    margin-bottom: 50px;
	margin-left: 20px;
	margin-right: 20px;
}
img {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.floatLeft {
	float: left;
}

}
h3 {
    font-size: 12pt;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
h1 {
    color: #00C8AA;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
nav {
    height: 50px;
    width: 768px;
}
#container nav ul {
    margin: auto;
    width: 400px;
}
#container nav li {
    width: 60px;
    display: block;
    list-style-type: none;
    margin: 0px 40px 0px 0px;
    float: left;
}
a:link {
    color: #6BE7FF;
    text-decoration: none;
	padding: 10px;
}
a:visited {
    text-decoration: none;
    color: #8600AB;
}
a:hover {
    text-decoration: none;
    color: #FFFFFF;
	background-color: #6BE7FF;
	padding: 10px;
	border-radius: 20px;
}
a:active {
    text-decoration: none;
    color: #000000;
}

.submit_btn {
    width: 170px;
    height: 30px;
    border-radius: 10px;
    background-color: #6BE6FF;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-box-shadow: 6px 6px 35px 1px #000000;
    box-shadow: 6px 6px 35px 1px #000000;
    text-indent: 0px;
}

.submit_btn:hover {
	-webkit-box-shadow: 6px 6px 35px 1px #000000;
    box-shadow: 6px 6px 35px 1px #000000;
}
